body {
  font-family: monospace;
}

header {
  position: fixed;
  width: 100%;
  height: 75px;
  color: #f0ead6;
  stroke-width: 1%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-weight: 900;
  top: 0;
  background-color: #0427327e;
  font-size: 10px;
}

header h1 {
  font-size: 15px;
}

#navigation-bar {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: center;
  justify-content: space-around;
  margin-right: 2%;
}

#home-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center;
  text-align: center;
}
#homepage-buttons {
  display: flex;
  justify-content: space-around; /* Evenly space buttons */
  width: 50%; /* Adjust as needed */
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

#homepage-buttons button {
  padding: 5px 10px; /* Add padding to buttons */
}

#main-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

#review-area {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center;
  text-align: center;
}

/* Form stars */
input.starBtn {
  position: absolute;
  opacity: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

label.rbStar {
  position: relative;
  color: grey;
  padding: 0 0.15rem;
  font-size: 150%;
  transition: color 0.15s;
}

label:has(~ label > input:checked),
label:has(input:checked) {
  color: #ffbb00;
}

label:has(~ label > input:hover),
label:has(input:hover) {
  color: #9d7614;
}

.movieSecttion {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10%;
}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #07043995;
  font-weight: 900;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.checked {
  color: orange;
}
.list {
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
}
p {
  font-weight: 900;
  font-size: medium;
}
.list h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.list ul {
  position: relative;
}
.list ul li {
  position: relative;
  left: 0;
  color: #042732;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #f50057;
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li p,
button {
  position: relative;
  padding: 1px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
  margin-top: 15px;
}
.list ul li:hover p,
button {
  color: #a2ff00;
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f50057;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}

#review-form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  #review-form {
    width: 700px;
  }

  #review-form input {
    height: 30px;
    border: #042732 solid 1px;
  }

  #review-form textarea {
    height: 30px;
    border: #042732 solid 1px;
  }

  header h1 {
    font-size: 30px;
  }

  #navigation-bar {
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: space-around;
    margin-right: 2%;
    font-size: large;
  }

  header {
    padding: 2%;
  }
}
